#gridContainer {
    margin: 10px;
    width: 100%;
    background-color: #fff;
    height: 100%;
    overflow: auto;
}

#cakeWrapper {
    margin-top: 10px;
    height: 100%;
}

#cakeSelector {
    background-color: #AF8DE3;
}

#cakeDisplay {
    background-color: floralwhite;
}

#cakeOrder {
    background-color: #AF8DE3;
}

@media only screen and (max-width: 799px) {
    td, th {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 800px) {
    #cakeWrapper {
        display: flex;
        flex-direction: row;
    }
    
    #cakeSelector {
        width: 33%;
    }
    
    #cakeDisplay {
        width: 33%;
    }
    
    #cakeOrder {
        width: 33%;
    }

@supports (grid-area: auto) {

    #gridContainer {
        display: grid;
        grid-template-rows: 100px 1fr;
        height: auto;
    }

    #cakeWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        height: auto;
    }

    #cakeSelector {
        width: 100%;
    }

    #cakeDisplay {
        width: auto;
    }

    #cakeOrder {
        width: auto;
    }
}
}

#clearOrder {
    margin: 10px 20px;
    padding: 5px;
}

#cakeText {
    background-color: #733FBF;
    color: #AF8DE3;
}

.cake {
    color: #AF8DE3;
}

#cakeList {
    margin-left: 10px;
    border: 5px double rebeccapurple;
}

.cakeList {
    width: auto;
    border: hidden;
    padding: 5px;
}

.cakeList input {
    width: 75px;
}

.cakeQuantity {
    font-weight: 400;
    width: unset;
    border: hidden;
    padding: 5px;
}

/* Palette URL: http://paletton.com/#uid=10u0u0kr+tLhoC8mpvkuqnZzhiX */
/* Palette URL: http://paletton.com/#uid=30V0I0kntBVdnQ0iVIDsxxovGqj */