body {
    height: 80vh;
}

#mainText {
    background-color: lightgrey;
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

#gameArea {
    position: relative;
    overflow: hidden;
    background-color: cadetblue;
    border: 5px double black;
    
}

#topPanel {
    width: 100%;
    background-color: dimgrey;
}

.instructions {
    background-color: cadetblue;
    color: white;
    font-size: 1em;
    width: 100%;
}

#instructionsText {
    height: 0px;
    transition-property: height;
    transition-duration: 2s;
}

.yellow {
    color: yellow;
}

#message {
    display: inline-block;
    color: white;
    transition-property: font-size;
    transition-duration: 2s;
    animation: none;
}

@media screen and (min-width: 1300px) {
    #message {
        animation: move 3s linear 1s infinite alternate;
    }

    #gameArea {
        margin: 30px;
        background-image: url('../images/background-blank-blue-132204.jpg');
    }
}

@media screen and (max-width: 1150px) {
    #topPanel {
        height: 150px;
    }

    .wrapper {
        transform: scale(.85) translate(-4rem, -4rem);
    }
}

@media only screen and (max-width: 799px) {

    #message {
        font-size: 1.2rem; 
    }

    #topPanel {
        height: 100px;
    }

    .button {
        margin: 10px;
        padding: 5px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    #gameArea {
        max-width: 1600px;
        min-width: 850px;
        margin: 5px;
    }

    #message {
        font-size: 1.4em; 
    }

    #topPanel {
        height: 100px;
    }

    .button {
        margin: 30px;
        padding: 10px;
    }
}

@keyframes move {
    from { margin-left: 0px;}
    to {margin-left: 100px;}
}

#timer {
    display: inline-block;
    font-size: 2em;
    color: cadetblue;
    transition-property: color;
    transition-duration: 20s;
}

.button {
    font-family: inherit;
    border-radius: 10px;
    background-color: white;
    color: cadetblue;
    font-weight: bold;
}

.wrapper {
    margin: 20px;
    width: 350px;
    height: 250px;
    border: 4px groove dimgrey;
    border-radius: 10px;
    display: inline-block;
    background-color: #D00000;
    position: relative;
    transition-property: background-color;
    transition-duration: 2s;
}

.bomb {
    margin: 25px;
    width: 300px;
    height: 200px;
    background-color: darkgrey;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

@supports (grid-area: auto) {
    .bomb {
        display: grid;
        grid-template: 50px 75px 50px 25px / repeat(6, 50px);
    }
}

.dice {
    font-size: 2em;
    padding: 5px 10px;
    color: dimgrey;
    float: left;
}

.wire {
    width: 5px;
    height: 75px;
    background-color: red;
    margin-left: 22px;
    margin-right: 21px;
    transition-property: height;
    transition-duration: 0.5s;
    float: left;
}

.wireHidden {
    width: 5px;
    height: 75px;
    background-color: darkgrey;
    float: left;
    margin-left: 22px;
    margin-right: 22px;
}

.arrow {
    font-size: 2em;
    color: lightgrey;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
}

.arrow-single {
    transform: translateY(-5px);
}

.door {
    top: 25px;
    position: absolute;
    width: 150px;
    height: 200px;
    z-index: 1;
    background-color: darkgrey;
    border: 2px solid black;
    box-sizing: border-box;
    transition-property: width;
    transition-duration: 3s;
}


.doorLeft {
    left: 24px;
}

.doorRight {
    right: 18px;
}

.lock {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 150px;
    background-color: #D00000;
    font-size: 2.5em;
}

.lock i {
    margin: 5px;
    margin-left: 8px;
}

.clue {
    width: 150px;
    height: 0px;
    background-color: palegoldenrod;
    border: none;
    position: absolute;
    top: 225px;
    left: 25px;
    transition-property: height;
    transition-duration: 2s;
}

.clue p {
    padding: 2px;
    margin-left: 10px;
    font-size: 12px;
}

.explosion {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1em;
    color: yellow;
    transition-property: font-size, color, left;
    transition-duration: 2s, 2s, 2s;
    z-index: 1;
}

#bottomPanel {
    background-color: dimgrey;
    width: 100%;
}

.bestScores {
    color: white;
    font-size: 1.2em;
}

#reset {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}