p.colorPicker {
    margin-top: 50px;
    margin-left: 10px;
    padding: 10px 10px;
    width: auto;
    display: inline-block;
}

canvas.colorPicker {
    margin-left: 15px;
}

p.gameField {
    width: 20px;
    padding: 0px 10px;
    margin: 0px;
    vertical-align: middle;
    display: table-cell;
}

#winner, #loser {
    width: 400px;
    color: white;
}

.gameRow {
    height: 50px;
    display: table;
    width: 100%;
}

.gameRow button {
        vertical-align: top;
        margin: 15px 20px;
}

#solution {
    background-color: purple;
    width: 800px;
}

#colorPicker {
    background-color: grey;
}

#gameBoard {
    background-color: grey;
    width: 800px;
}

.sideText {
    margin-top: 70px;
    min-width: 200px;
}

@supports (grid-area: auto) {
    #grid {
        display: grid;
        grid-template: 50px 1fr / 80px 800px 1fr;
        grid-gap: 10px;
        height: 100%;
    }

    #colorPicker {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    #gameBoard {
        grid-column: 2 / 3;
        grid-row: 2;
    }
}

#newGame {
    margin-top: 20px;
    margin-left: 10px;
    width: 50px;
}

.sideText a {
    float: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    border: none;
    color: purple;
}

.sideText a:hover {
    background-color: #fff;
}

@media only screen and (max-width: 799px) {
    #grid {
        transform: scale(.5);
        position: absolute;
        top: -10rem;
        left: -27rem;
    }

}