#mainText {
    background-color: rgba(255, 224, 198, 0.7);
}

form {
    display: inline-block;
}

h2 {
    color: #974400;
}

legend {
    background-color: #974400;
    color: white;
    padding: 5px;
    border-color: #ED7C1E;
}

fieldset {
    background-color: #FA9A4B;
}

label, #label {
    padding-right: 0px;
    display: inline-block;
    text-align: right;
}

.radioLabel {
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;
}

.formButton {
    padding-left: 0px;
}

input:invalid {
    border-color: #ED7C1E;
}

table {
    margin-left: 10px;
    table-layout: fixed;
    display: inline-block;
    padding: 10px;
    border-collapse: collapse;
    border: solid #ED7C1E;
}

thead {
    font-size: 0.9em;
}

th, tr, td {
    padding: 10px;
    border: 1px solid black;
}



@media only screen and (max-width: 799px) {

    form {
        padding: 10px;
    }

    fieldset {
        width: 300px;
        font-size: 1rem;
    }

    input, select {
        margin: 5px;
        padding-left: 5px;
        width: 140px;
    }

    label, #label {
        margin: 5px;
        padding-left: 5px;
        width: 100px;
    }
    
    #standard, #vegetarian {
        margin-top: 5px;
        width: 10px;
    }
    
    .radioLabel {
        width: 50px;
    }
    
    .formButton {
        margin-left: 120px;
        width: 140px;
    }

    th, td {
        font-size: .8rem;
        width: 50px;
    }
}

@media only screen and (min-width: 800px) {

    form {
        padding: 20px;
    }

    fieldset {
        width: 450px;
    }

    input, select {
        margin: 10px;
        padding-left: 10px;
        width: 150px;
    }

    label, #label {
        margin: 10px;
        padding-left: 10px;
        width: 150px;
    }
    
    #standard, #vegetarian {
        margin-top: 25px;
        width: 15px;
    }
    
    .radioLabel {
        width: 60px;
    }
    
    .formButton {
        margin-left: 180px;
        width: 164px;
    }

    th, td {
        width: 110px;
    }
}