header {
    height: 35vh;
    min-height: 20rem;
    background-image: linear-gradient(
        to right, 
        rgba(98, 161, 125, 0.7),
        rgba(255, 255, 255, 0.7)),
        url(../images/close-up-code-codes-239898.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 3rem;
        padding: 3rem;
        height: 75%;
    }

    a {
        margin: 2rem 1.5rem;
        padding: .5rem 1.5rem;
    }
}

@media screen and (max-width: 999px) {
    h1 {
        height: 60%;
    }

    a {
        margin: .4rem;
        padding: 2px;
        transform: translateY(-1rem);
    }
}

a:link,
a:visited {
    
    float: left;
    color: #fff;
    background-color: rgba(5, 102, 21, 0.7);
    text-transform: uppercase;
    text-decoration: none;
    border: .1rem solid #fff;
    border-radius: 10rem;
    transition: all 1s;
    animation: appear 2s 4s;
    animation-fill-mode: backwards;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color:rgb(5, 102, 21);
}

#demo2:link,
#demo2:visited {
    background-color: rgba(184, 2, 190, 0.7);
    color: #fff;
}

#demo2:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #b802be;
}

h1 {
    
    background-image: linear-gradient(
        to right bottom, 
        rgba(5, 102, 21, 0.8),
        rgba(169, 248, 153, 0.9));
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 50%);
}

.heading-main {
    animation: appear 2s .5s;
    animation-fill-mode: backwards;
}

.heading-sub {
    animation: slideIn 3s ease-in 1.5s;
    animation-fill-mode: backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        margin-left: 20rem;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#body {
    margin: 2rem;
    height: 50vh;
    padding-bottom: 6rem;
    overflow-y: auto;
}

.text {
    letter-spacing: .1rem;
    max-width: 80rem;
}