header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 10%;
    min-height: 7rem;
    color: #fff;
    background-image: linear-gradient(
        to bottom, 
        rgb(5, 102, 21),
        rgb(255, 255, 255));  
}

@media only screen and (min-width: 800px) {

    body {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
        padding: 1rem 1rem;
    }

    a {
        font-size: 1.4rem;
        margin: 1.3rem;
    }

    .sidebar {
        flex: 0 0 6rem;
    }

    .sidebar p {
        width: 6rem;
        font-size: 2rem;
        letter-spacing: .5rem;
        margin-bottom: 5rem;
        transform: rotate(90deg);
    }

    .mainText {
        padding-left: 2rem;
    }

    h2, p {
        padding: 1rem 2rem;
    }
}

a:link,
a:visited {
    padding: .3rem 1.3rem;
    float: left;
    color: rgb(5, 102, 21);
    text-transform: uppercase;
    text-decoration: none;
    border: .1rem solid rgb(5, 102, 21);
    border-radius: 10rem;
    transition: all 1s;
    animation: appear 2s 4s;
    animation-fill-mode: backwards;
}

a:hover {
    background-color: rgba(5, 102, 21, 0.7);
    color:rgb(255, 255, 255);
}

.mainText {
    padding-top: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

.sidebar {
    color: rgb(5, 102, 21);
    float: right;
    text-align: center;
    padding-top: 20vh;
}

.sidebar p {
    transform: rotate(90deg);
}



footer p {
    padding: 0;
}

#messageBox {
    position: fixed;
    display: block;
    z-index: 1;
    left: 40%;
    top: 40%;
    background-color: orange;
    border: .5rem double grey;
    width: 35rem;
    height: 10rem;
}

#messageBox span {
    color: grey;
    font-size: 2em;
    font-weight: bold;
    float: right;
    padding: .5rem;
}

#messageBox p {
    margin: 5% auto;
    width: 30rem;
    color: darkslategrey;
}

#closeButton:hover, 
#closeButton:focus {
    color: black;
    cursor: pointer;
}

