* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
    position: relative;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    height: 100%;
}

.body {
    width: 100%;
    margin-bottom: 2rem;
    display: flex; 
}

.body:after {
    content: "";
    display: block;
}

h1 {
    font-weight: 400;
    color: #fff;
}

h2 {
    font-weight: 400;
    color: rgb(5, 102, 21);
}

@media only screen and (max-width: 799px) {

    .body {
        min-height: 70%; 
    }

    body {
        padding: .5rem;
    }

    h1 {
        font-size: 1.6rem;
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        padding: .5rem;
    }

    #mainText {
        position: relative;
    }

    .mainText {
        padding-left: 0;
    }

    a {
        font-size: 1.3rem;
        margin: .4rem;
    }

    .sidebar {
        flex: 0 0 2rem;
    }

    .sidebar p {
        width: 1.5rem;
        font-size: 1rem;
        letter-spacing: .5rem;
        margin-bottom: 4rem;
    }

    footer {
        padding-top: .5rem;
    }

    footer p {
        font-size: 1.1rem;
    }

    .body::after, footer {
        height: 2.5rem;
    }
}

@media only screen and (min-width: 800px) {
    .body {
        min-height: 80%;
    }

    footer {
        padding-top: 1rem;
    }

    .body::after, footer {
        height: 4rem;
    }
}



footer {
    color: #fff;
    background-image: linear-gradient(
        to right, 
        rgb(5, 102, 21),
        rgb(5, 102, 21),
        rgb(255, 255, 255),
        rgb(255, 255, 255));
    width: 100%;
}

footer p {
    margin-left: 2rem;
}