* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

#container {
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


footer, header {
    color: #472000;
    background-color: lightgray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 10%;
}

header {
    min-height: 70px;
}

footer {
    position: relative;
    bottom: 0;
    min-height: 30px;
    width: 100%;
}

a {
    float: left;
    padding: 10px;
    display: inline-block;
    color: #472000;
}

#body {
    width: 100%;
    min-height: 80%;
    height: 80%;
    overflow: hidden;
    display: flex;
}


#mainText {
    background-color: whitesmoke;
    padding-left: 20px;
    padding-top: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
}

#sidebar {
    color: #472000;
    background-color: #FA9A4B;
    flex: 0 0 100px;
    float: right;
    text-align: center;
    padding-top: 10px;
}


h2 {
    color: #472000;
    padding: 10px 20px;
}

p {
    padding: 10px 20px;

}

#messageBox {
    position: fixed;
    display: block;
    z-index: 1;
    left: 40%;
    top: 40%;
    background-color: orange;
    border: 5px double grey;
    width: 350px;
    height: 100px;
}

#messageBox span {
    color: grey;
    font-size: 2em;
    font-weight: bold;
    float: right;
    padding: 5px;
}

#messageBox p {
    margin: 5% auto;
    width: 300px;
    color: darkslategrey;
}

#closeButton:hover, 
#closeButton:focus {
    color: black;
    cursor: pointer;
}

#menuBooking {
    color: #ED7C1E;
}

#menuOrdering {
    color: rebeccapurple;
}

#menuMastermind {
    color: purple;
}

#menuBomb {
    color: cadetblue;
}